{% extends 'minippa/base.html' %} 

{% block body %}

<div class="container">
    <h1>About page</h1><br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Culpa ex iste dolor pariatur natus, 
        molestiae nihil aliquid, quae illo aspernatur alias quidem
        sint reprehenderit omnis! Necessitatibus aperiam perferendis facilis similique?
    </p><br><br>
    <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Pariatur aspernatur ipsum nostrum numquam
    facilis sapiente, impedit voluptates minus ut, consequatur tempora 
    mollitia excepturi dolore dicta eaque, doloremque non itaque provident!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repellendus, 
    ratione vero nam maxime esse corporis amet incidunt fuga voluptas voluptates
    odio nostrum nihil obcaecati nesciunt quam quos, excepturi eveniet.
    </p>
</div>

{%endblock body %}