{% extends 'minippa/base.html' %} 

{% block body %}
  <div class="container">

  <h1 align="center">Contact Us</h1>

      <!-- Using Messages django -->
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      {% endfor %}
      {% endif %}
  
  <form  method="POST" action="/contact/" >
    {% csrf_token %}

    <div class="mb-3">
        <label for="name" class="form-label text-white ">Name</label>
        <input type="text" class="form-control" id="name" name="name" required placeholder="Please enter you'r name">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label text-white">Email</label>
      <input type="email" class="form-control" id="email" name="email" required placeholder="Please enter you'r Email">
      <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
    </div><br>

    <div class="mb-3">
      <label for="phone" class="form-label text-white">Phone Number</label>
      <input type="phone" class="form-control " id="phone" name="phone" required placeholder="Please enter you'r phone number">
    </div>

    <div class="form-floating" >
      <label for="desc" class="text-white">Comments</label>   
      <textarea class="form-control" placeholder="Leave a massage here" id="desc" required name="desc" style="height: 100px"></textarea>
    </div><br>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </div>
{% endblock body%}