<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <form action="" method="POST"  novalidate>
        <h1>SignIn</h1>
        {% csrf_token %}
          
        {% for fm in form%}
          {{ fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %} 
        <input type="submit" value="login" class="btn btn-primary">
    </form>

    {% if messages %}
       {% for message in messages %}
        {{ message}}
       {% endfor %}
    {% endif %}
</body>
</html>